// ------------------------ base -------------------------------------- //

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
body {
	padding: 2rem 5rem;
	background: var(--bg-color);
	font-size: var(--default-font-size);
	font-family: var(--default-font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include respond(mobile-large) {
		padding: 2rem 2rem;
	}

	@include respond(mobile-small) {
		padding: 2rem 1rem;
	}
}

main {
	padding: 4rem 2rem;
}

::selection {
	background-color: var(--color-primary);
	color: var(--color-white);
}
