.spinner-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    width: 10rem;
    height: 10rem;


    animation: spin infinite 2s linear;
    // height: 40vmin;
    pointer-events: none;
}