@import '../../assets/scss/mixins';

.social {
	display: flex;

	&__list {
		list-style: none;
		display: flex;
		justify-content: center;

		&--item {
			padding: 0 1.6rem;
			@include respond(tablet) {
				padding: 0 1rem;
			}
			display: flex;
			flex-direction: column;
			text-align: center;

			span {
				display: block;
			}
		}
		&--link {
			@include ResetLink();
			color: var(--color-primary);
		}

		&--icon {
			height: 3rem;
			width: 3rem;

			@include respond(tablet) {
				height: 2.5rem;
				width: 2.5rem;
			}
		}
	}
}
