@import '../../../mixins.scss';
.header{
    padding: 6rem 0;

    @include respond(tablet){
        .row{
            display: flex;
            flex-direction: column-reverse;
        }
    }
}
.header-action{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}
.header-illustration {
    width: 100%;
    height: auto;
    fill: orangered;
}
