@import '../../../assets/scss/mixins';
.project {
	padding: 3rem 0;
	display: flex;

	@include respond(tablet) {
		// display: flex;
		flex-direction: column;
	}

	&__thumbnail {
		flex: 30%;

		@include respond(tablet) {
			padding: 0;
		}

		&--img {
			width: 100%;
			height: auto;
		}
	}
	&__desc {
		flex: 70%;
		display: flex;
		flex-direction: column;
		padding-left: 4rem;
		@include respond(tablet) {
			padding: 0;
		}
	}

	&__links {
		display: flex;
		flex-direction: row;
		align-items: center;
		align-content: center;

		padding: 1rem 0;

		a[disabled] {
			pointer-events: none;
			display: none;
		}
	}
	&__link {
		display: block;
		text-decoration: none;
		margin-top: 2rem;
		display: flex;
		align-items: center;

		span,
		svg {
			margin-left: 2rem;
		}

		&--icon {
			width: 3rem;
			height: 3rem;
		}
	}

	&-p-stack {
		padding-top: 2rem;
	}

	&__stack {
		padding: 0.2rem 0.4rem;
		display: inline-block;
		&:not(:first-child) {
			margin-left: 1rem;
		}
		@include respond(mobile-large) {
			margin-top: 1rem;
		}
	}
}
