@import '../../assets/scss/mixins';

.header {
	padding: 6rem 0;
	display: flex;

	@include respond(tablet) {
		flex-direction: column-reverse;
	}

	&__cta {
		flex: 0 0 50%;
		padding-top: 5rem;
		display: flex;
		flex-direction: column;
	}

	&__visual {
		flex: 0 0 1;
		&--img {
			@include ResponsiveImage();
		}
	}
}
