@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
// Horizontal Top Nav
.navbar {
	position: sticky;
	z-index: var(--z-index-k);

	background: var(--bg-color);
	height: 8rem;
	top: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.6rem;

	@include respond(mobile-large) {
		font-size: 1.4rem;
	}

	&__logo {
		&-name {
			color: var(--text-color-tertiary);
			cursor: pointer;
			height: 3.25rem;
			font-size: 2.5rem;
			font-weight: 900;
			padding-left: 2rem;
			@include respond(tablet) {
				height: 3rem;
				font-size: 2rem;
				padding-left: 1rem;
			}
		}
		&-link {
			@include ResetLink();
		}
	}

	&__list {
		color: var(--text-color-tertiary);
		list-style-type: none;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-right: 2rem;

		@include respond(tablet) {
			padding-right: 1rem;
		}

		@include respond(mobile-medium) {
			padding-right: 0.5rem;
		}

		&--item {
			display: inline-block;
			text-align: center;
			text-transform: capitalize;
			padding: 1rem 1.5rem;

			@include respond(tablet) {
				padding: 1rem;
			}
			@include respond(mobile-medium) {
				padding: 0.5rem;
			}

			align-items: center;

			position: relative;

			&:hover {
				background-color: var(--color-tertiary);
			}
		}
		&--link {
			@include ResetLink();

			&:hover {
				@include ResetLink();
			}
		}

		&--icon {
			cursor: pointer;
			height: 4rem;
			width: 4rem;

			@include respond(tablet) {
				height: 3.5rem;
				width: 3.5rem;
			}
			@include respond(mobile-medium) {
				height: 3rem;
				width: 3rem;
			}
		}
	}
}
