@import '../../../mixins.scss';

.social{
    display: flex;
    float: left;
    
    @include respond(mobile-medium){
        justify-content: center;
    }
}
.social-list{
    list-style: none;
    display: inline-block;
    padding: 2rem 2rem 2rem 0;
    display: flex;
    justify-content: center;

    @include respond(mobile-medium){
        padding: 2rem 0;
    }
}
.social-item{
    display: flex;
    flex-direction: column;
    text-align: center;

    span {
        display: block;
    }
}
.social-link{
    color: var(--color-primary);
    text-decoration: none;
}
.social-icon{
    height: 3rem;
    width: 3rem;
    fill: var(--color-primary);

    @include respond(mobile-medium){
        height: 2.5rem;
        width: 2.5rem;
    }
}