.footer {
    padding: 6rem 0;
}
.contact-details {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.my-name {
    font-size: 2rem;
    font-weight: 700;
}